@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Username: @ViewBag.UserName</p>
    <p>Email: @ViewBag.Mail</p>
    <p>Department: @ViewBag.Department</p>
</div>
